# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-google==10.13.1
google-cloud-secret-manager==2.16.1
gcsfs==2024.2.0
google-cloud-storage==2.15.0
pyarrow==15.0.2
astronomer-cosmos==1.6.0
astro-run-dag # This package is needed for the astro run command. It will be removed before a deploy