# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
apache-airflow-providers-google==10.13.1
google-cloud-secret-manager==2.16.1
gcsfs==2024.2.0
google-cloud-storage==2.15.0